
  body {
    background-color: #FFE7BF;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #A10035;
    border-width: 8px;
    width: 6%;
  }

  h1{
    color: #810955
  }
  h3{
    color: #810955
  }
